@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

html,body {
    height:100%;
    width: 100%;
}

a {
    text-decoration: none !important;
    outline: none;
    color: #FFF2D8;
}

a:hover {
    color: #999999;
}

body {
    background-color: #000000;
    color: #4FD1C5;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
}

.headercol {
    width: 100%;
    height: 85px;
    background-color: black !important;
    color: #FFF2D8 !important;
}

.headerlogo {
    color: #FFF2D8;
    font-size: 25px;
    text-decoration: none !important;
}

header a{
    text-decoration: none !important;
    outline: none;
    color: #FFF2D8;
}

.loginbtn {
    border-color: #FFF2D8!important;
    color: #FFF2D8;
}

.menubtn {
    border-color: rgb(17, 17, 17) !important;
    display: inline-flex;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 10%;
}

.loginbtn:hover {
    background-color: #FDF2DB1A;
}

.footer {
    height: 50px!important;
}

.loginpage {
    overflow: auto;
    /*height: 100%;*/
    width: 100%;
    background-color: rgb(0, 0, 0);
    height:100vh;
}

.loginpageright {
    overflow: auto;
    background-color: white;
    height:100vh;
}

.loginform {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
}

.logIn {
    overflow: hidden;
}

.loginBtny {
    background: #b3ada1;
    color: white;
}

.loginBtny:hover {
    background: #eaa622;
    color: white;
}

.inputLogin {
    width: 500px;
    border-right:2px;
    border-left:2px;
    border-top: 2px;
    border-color: rgb(17, 17, 17);
    border-radius: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
}
.inputLogin:active, .inputLogin:focus, .inputLogin:hover {
    border-style: outset;
    text-decoration: none;
    background-image: none;
    outline: none;
}

.headerimg {
    background-color: #b3ada1;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
}

.headerb {
    margin-left: 10px;
}

.card {

}

.card a{
    color: #4FD1C5;
}

.card a:hover{
    color: #137770;
}

.line {
    width: 100%;
    border: 1px solid #4FD1C5;
    margin-bottom: 50px;
}

header {
    /*margin-bottom: 50px;*/
}

.h1main {
    font-weight: 900;
    font-size: 30px;
}

.card .remove {
    color: #B0413E;
    margin-left: 70px;
}

.card .remove:hover {
    color: #3b0f0f;
}

.card {
    color: #2D3748;
    border-radius: 10%;
}

.bluetext {
    color: #4FD1C5;
}

.createRecipe:hover {
    background-color: rgba(79, 209, 197, 0.25);
}

.card-body{
    text-align: center;
}

.card-title{
    text-align: center;
}

.plusRecipe {
    text-align: center;
    color: #4FD1C5;
    font-size: 100px;
}

.settingsBtn {
    margin-right: 10px;
}

.menu-column {
    background-color: black;
    min-height: 100%;
    max-width: 14%;
}

.logoline {
    border: 1px solid #FDF2DB80;
    width: 90%;
    margin: 0 5% 6%;
}

.mainrow {
    height: 100%;
    width: 100%;
    margin: 0;
}

.rightsidebar {
    max-width: 2%;
    background-color: black;
    min-height: 100%;
}

.center-content {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 2%;
    /*width: 100%;*/
}

.menu-control {
    display: flex;
    flex-direction: column;
}

.menuword {
    margin-bottom: 12%;
    margin-left: 5%;
    font-weight: 900;
    font-size: 18px;
}

.triangle{
    margin-left: 97%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid white;
    border-bottom: 15px solid transparent;
}

.headerlogo b {
    font-weight: normal;
    font-size: 25px;
}

.pagination a{
    color: black !important;
}

.card-text {
    width: 100%;
    -webkit-line-clamp: 7; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    min-height: 150px;
    font-weight: 100;
}

.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.formInput {
    height: 45px;
    margin-top: -10px;
    z-index: -1;
    padding: 10px 20px;
    width: 50vw;
    border-color: #A0AEC0;
    margin-bottom: 30px;
}

.symfonyForm {
    display: flex;
    justify-content: center;
    color: #A0AEC0;
    width: 100%;
}

.formErrors {
    color: #B0413E;
}

.formLabel {
    margin-left: 20px;
    background: #FFF;
    font-weight: bold;
    padding: 0 10px;
}

.inputTextarea {
    height: 400px!important;
}

.itemsList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 40px;
}

.formbutton {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    width: 17%;
    background: #4FD1C5;
    height: 40px;
    color: white;
}

.formbutton:hover {
    background: #0a6b64;
}

.createdAt {
    color: black;
    font-size: 18px;
    font-weight: normal;
    margin-left: 77%;
}

.createdAt b {
    font-weight: 900;
}
.createdAt .line {
    border-color: #A0AEC0;
    margin-top: 15px;
}

.d-block {
    border-radius: 20px;
    margin-left: 15%;
    height: 25vh;
    width: 70% !important;
}

.btncr {
    color: black;
}

.carousel-caption {
    background-color: #9e988cd4;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    width: 50%;
}
.carousel-caption h5{
    background-color: #9e988cd4;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    width: 50%;
}

.slide button {
    background-color: #9e988cd4;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 73px;
}

.dropdown-toggle {
    filter: brightness(100%)!important;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: 900!important;
    color: #FFF2D8!important;
}

.dropdown-toggle:hover {
    filter: brightness(100%)!important;
    color: #4FD1C5!important;
}

.dropdown-menu {
    filter: brightness(100%)!important;
    width: 210px;
    transform: translate3d(0px, 44px, 0px)!important;
    border-radius: 5px;
    background: #191816;
}

.dropdown-menu a{
    filter: brightness(100%)!important;
    font-size: 15px;
    font-weight: 900;
    color: #FFF2D8;
}

.dropdown-menu a:hover{
    color: #4FD1C5;
    background-color: #302E2A;
}

.btn-group:hover {
    background-color: #191816;
}

thead {
    color: #4FD1C5!important;
}

.addquote {
    margin-bottom: 20px;
}

.word {
    position: absolute;
    width: 400px;
    opacity: 0;
}

.letter {
    font-size: 25px;
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #8e44ad;
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #2c3e50;
}

.loginLabelFirst {
    margin-top: 100px!important;
}

.cardmain {
    margin-left: 30px;
}

.menubtn:hover {
    -webkit-transform: translate(10px);
    transform: translate(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.exitButton {
    font-weight: 900;
    font-size: 16px;
    /*background-color: #FFF2D8;*/
}