@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: "open-sans",sans-serif;
    font-size: 14px;
}

html,body {
    height:100vh;
    width: 100%;
}

a {
    text-decoration: none !important;
    outline: none;
    color: #FFF2D8;
}

a:hover {
    color: #999999;
}

body {
    background-color: white;
    color: #4FD1C5;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
}

.headercol {
    width: 100%;
    height: 75px!important;
    background-color: rgb(17, 17, 17) !important;
    color: #FFF2D8 !important;
}

.headerlogo {
    color: #FFF2D8;
    font-size: 25px;
    text-decoration: none !important;
}

header a{
    text-decoration: none !important;
    outline: none;
    color: #FFF2D8;
}

.loginbtn {
    border-color: #FFF2D8!important;
    color: #FFF2D8;
}

.menubtn {
    border-color: rgb(17, 17, 17) !important;
    display: inline-flex;
    align-items: center;
}

.loginbtn:hover {
    background-color: #FDF2DB1A;
}

.footer {
    height: 50px!important;
}

.loginpage {
    overflow: auto;
    /*height: 100%;*/
    width: 100%;
    background-color: rgb(0, 0, 0);
    height:100vh;
}

.loginpageright {
    overflow: auto;
    background-color: white;
    height:100vh;
}

.loginform {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
}

.logIn {
    overflow: hidden;
}

.loginBtny {
    background: #b3ada1;
    color: white;
}

.loginBtny:hover {
    background: #eaa622;
    color: white;
}

.inputLogin {
    width: 500px;
    border-right:2px;
    border-left:2px;
    border-top: 2px;
    border-color: rgb(17, 17, 17);
    border-radius: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
}
.inputLogin:active, .inputLogin:focus, .inputLogin:hover {
    border-style: outset;
    text-decoration: none;
    background-image: none;
    outline: none;
}

.headerimg {
    background-color: #b3ada1;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 10px;
}

.headerb {
    margin-left: 10px;
}

.card {

}

.card a{
    color: #4FD1C5;
}

.card a:hover{
    color: #137770;
}

.line {
    width: 100%;
    border: 1px solid #4FD1C5;
    margin-bottom: 50px;
}

header {
    margin-bottom: 50px;
}

.h1main {
    font-weight: 900;
    font-size: 30px;
}

.card .remove {
    color: #B0413E;
    margin-left: 70px;
}

.card .remove:hover {
    color: #770a01;
}

.card {
    color: #2D3748;
    border-radius: 10%;
}

.bluetext {
    color: #4FD1C5;
}

.createRecipe:hover {
    background-color: rgba(79, 209, 197, 0.25);
}

.plusRecipe {
    text-align: center;
    color: #4FD1C5;
    font-size: 100px;
}

.settingsBtn {
    margin-right: 10px;
}