{% extends 'base.html.twig' %}

{% block title %}Hello RecieptController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="h1main">Рецепты</h1>
    <div class="line"></div>

    <div class="row justify-content-between gy-5">
        <a class="card createRecipe" href="/recipe/create" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title mb-4 bluetext btn-primary">Добавить Рецепт</h3>
                <p class="plusRecipe">+</p>
            </div>
        </a>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title mb-4 bluetext">Название Рецепта</h5>
                <p class="card-text">Описание рецепта on the card  and mnd make up the bulk of nd make up the bulk of ake up the bulk of the card's content.</p>
                <a href="/recipe/{id}" class="card-link">Открыть</a>
                <a class="card-link remove" href="/recipe/{id}/delete">Удалить</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
