{% extends 'base.html.twig' %}

{% block title %}Рецепты{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="h1main">Рецепты</h1>
    <div class="line"></div>

    <div class="row justify-content-between gy-5 mt-3">
        <a class="card createRecipe" href="/recipe/create" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title mb-4 bluetext btn-primary">Добавить Рецепт</h3>
                <p class="plusRecipe">+</p>
            </div>
        </a>
        {% for recipe in recipes %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-4 bluetext">{{ recipe.name }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <a href="/recipe/{{ recipe.id }}" class="card-link">Открыть</a>
                    <a class="card-link remove" href="/recipe/{{ recipe.id }}/delete">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
