<footer class="footer navbar navbar-expand-lg bg-dark shadow-sm fixed-bottom bc headercol">
    <div class="container px-3">

        <div class="row-lg-2">
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</footer>
