<header class="header navbar navbar-expand-lg bg-dark shadow-sm  bc headercol px-5">
        <a href="/" class="col col-lg-2 headerlogo">Kravets Family</a>
    <div class="col-9"></div>
{#        <div class="row-lg-2">#}
{#            <a href="/note/list" class="btn loginbtn menubtn">#}
{#                <img class="headerimg" src="{{ asset('assets/img/notes.png') }}" alt="">#}
{#                <b class="headerb">Заметки</b>#}
{#            </a>#}
{#            <a href="/calendar" class="btn loginbtn menubtn">#}
{#                <img class="headerimg" src="{{ asset('assets/img/calendar.png') }}" alt="">#}
{#                <b class="headerb">Каленарь</b>#}
{#            </a>#}
{#            <a href="/reciept/list" class="btn loginbtn menubtn">#}
{#                <img class="headerimg" src="{{ asset('assets/img/recipe.png') }}" alt="">#}
{#                <b class="headerb">Рецепты</b>#}
{#            </a>#}
{#            <a href="/quote/list" class="btn loginbtn menubtn">#}
{#                <img class="headerimg" src="{{ asset('assets/img/quote.png') }}" alt="">#}
{#                <b class="headerb">Фонд Цитат</b>#}
{#            </a>#}
{#        </div>#}
        <div class="row">
            <a href="/settings" class="col btn loginbtn settingsBtn">Настройки</a>
            <a href="/logout" class="col btn loginbtn">Выйти</a>
        </div>
</header>
