<header class="header navbar navbar-expand-lg bg-dark shadow-sm  bc headercol px-5">
        <a href="/" class="col col-lg-2 headerlogo">Kravets <b>Family</b></a>
    <div class="col-9"></div>
    <a href="/logout" class="col btn loginbtn exitButton">Выйти</a>
</header>
