<header class="header navbar navbar-expand-lg bg-dark shadow-sm fixed-top bc headercol">
    <div class="container px-3">
        <a href="/" class="col col-lg-2 headerlogo">Kravets Family</a>
        <div class="row-lg-2">
            <a href="/login" class="btn loginbtn menubtn">Заметки</a>
            <a href="/register" class="btn  loginbtn menubtn">Календарь</a>
            <a href="/register" class="btn  loginbtn menubtn">Рецепты</a>
            <a href="/register" class="btn  loginbtn menubtn">Фонд Цитат</a>
        </div>
        <div class="row-lg-1">
            <a href="/login" class="btn m-2 loginbtn">Профиль</a>
            <a href="/logout" class="btn  m-2 loginbtn">Выйти</a>
        </div>
    </div>
</header>
