<header class="header navbar navbar-expand-lg bg-dark shadow-sm  bc headercol px-5">
        <a href="/" class="col col-lg-2 headerlogo">Kravets <b>Family</b></a>
    <div class="col-9"></div>
        <div class="row">
            <a href="/settings" class="col btn loginbtn settingsBtn">Настройки</a>
            <a href="/logout" class="col btn loginbtn">Выйти</a>
        </div>
</header>
