{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}

    <div class="col">
        <h1>Вкладка еще в разработке!</h1>
        <h1>--------------------------------</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
    </div>
    <div class="col">
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
    </div>
{% endblock %}
