{% extends 'base.html.twig' %}

{% block title %}Список Аниме{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1 class="h1main">Список Аниме</h1>
        <div class="line"></div>

    <div class="listRom">
        <h1>Все аниме</h1>
        <div class="line"></div>
    </div>
    <div class="listRom">
        <h1>Избранное</h1>
        <div class="line"></div>
    </div>

    </div>
{% endblock %}
