{% extends 'base.html.twig' %}

{% block title %}Список Аниме{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1 class="h1main">Список Аниме</h1>
        <div class="line"></div>

    <div class="listRom">
        <h1>Все аниме</h1>
        <div class="line"></div>
    </div>
    <div class="listRom">
        <h1>Избранное</h1>
        <div class="line"></div>
    </div>

        <div class="col">
            <h1>Вкладка еще в разработке!</h1>
            <h1>--------------------------------</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
        </div>
        <div class="col">
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
            <h1>Coming Soon!</h1>
        </div>

    </div>
{% endblock %}
